ul>li {
    padding: 25px 15px 15px 15px;
    max-width: 100px;
    box-shadow: 5px 5px 20px purple;
}
section>details {
    text-shadow: 2px 2px 20px olivedrab;
}


h1, h2, h3 {
    font-stretch: extra-expanded;
}

li, h3 {
    background-color: rgb(159, 159, 163);
}

h1, h3, li {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 25px;
    width: 50%;
   

}

.makeitsmaller {
    width:50px;
    height: 50px;
}

#smoky {
    text-shadow: 3px 3px 30px gray;
}

#box {
    box-shadow: 5px 5px 25px blue;
}

#giantfont {
    font-size: xx-large;
}

div .makeitsmaller {
    box-shadow: 4px 4px 25px orange;
}

main .makeitsmaller {
    text-shadow: 2px 3px 30px black;
}

h2+p+ul {

    padding: 10px 25px 10px 25px;
}

header+footer {

    
}

img:hover {
    height: 200px;
    width: 200px;
}
iframe:hover {
    height: 400px;
    width: 400px;
    

}

h2:active {
    font-size: 5px;
}

p:active {
    text-align: right;
}

a:link {

    font-size: 200px;
}

a:visited {
    height: 5px;
    color: orangered;
}